.App {
  text-align: center;
  background-color: black;
  color: white;
}

li {
  list-style-type: none;
  cursor: pointer;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/*Inv Styling*/
.inv {
  margin-top: 15px;
}
.inv > button > img {
  max-width: 28px;
  min-height: 30px;
  max-height: 30px;
}

.bow {
  min-width: 16px;
  max-width: 16px;
}

/*Status of Locations / Dungeons*/
.locked {
  background-color: red;
  width: 100%;
  height: 10px;
}

.visible {
  background-color: blue;
}

.accesible {
  background-color: orangered;
}

.beatable {
  background-color: yellow;
  width: 100%;
  height: 10px;
}

.unlocked {
  background-color: lime;
  width: 100%;
  height: 10px;
}

/*Dungeon list - tier styling*/
.hidden {
  opacity: 0;
}

.gray {
  opacity: 0.4;
}

.color {
  opacity: 1;
}

.dng {
  width: 150px;
  height: 125px;
  position: relative;
}

.dng > img {
  width: 100%;
  height: 100%;
}

.dng_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 1;
}

.dng_list > div {
  margin: 5px;
}

.dng_reward {
  position: absolute;
  bottom: -10px;
  right: 0;
}

.dng_reward > img {
  width: 20px;
  height: 25px;
}

.mm_medallion, .tr_medallion {
  position: absolute;
  bottom: -10px;
  left: 50%;
}

/*General styling for the bosses icon*/
.boss_icon {
  position: absolute;
  left: 0;
  bottom: -10px;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; */
  /* margin-left: 10px; */
}

.boss_icon > img {
  width: 40px;
  height: 30px;
  margin-top: 10px;
}

/*General styling for locations*/
.map_overview {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 1;
}

.lw, .dw {
  width: 45%;
  margin: 10px;
  position: relative;
}

.lw > img, .dw > img {
  width: 100%;
  height: 85%;
}

.lw > div, .dw > div {
  cursor: pointer;
}

.loc {
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  border: 2px solid black;
}
.tooltip {
  width: fit-content;
  background-color: black;
  color: white;
  z-index: 1000;
  position: relative;
}

.tooltip > p {
  display: inline-block;
  padding: 5px 15px;
}

.loc_desc {
  font-size: 12px;
  text-align: right;
}

