/* html {
  overflow: hidden;
} */
.App {
  text-align: center;
  margin-top: 10px;
}

li {
  list-style-type: none;
  cursor: pointer;
}

.gray {
  opacity: 0.4;
}

.color {
  opacity: 1;
}

.dng {
  width: 150px;
  height: 125px;
  position: relative;
}

.locked {
  background-color: red;
  width: 100%;
  height: 10px;
}

.beatable {
  background-color: yellow;
  width: 100%;
  height: 10px;
}

.unlocked {
  background-color: green;
  width: 100%;
  height: 10px;
}

.dng_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dng_list > div {
  margin: 5px;
}

.map_overview {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.map_overview > div {
  width: 45%;
  margin: 10px;
}

.map_overview > div > img {
  width: 100%;
  height: 85%;
}
